:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  footer {
    margin-bottom: 0;
    color: #C04078;
  } 

  .footer-text {
    color: #C04078;
  }

  .homepage-text {
    color: white; 
  }

  .nav {
    color: #4078c0;
    
  }